#cv-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex: 50%;

    background-color: #fff;
    color: #2d3142;
    padding: 40px 0;

    overflow-y: scroll;
}
