.form-section {
    width: 600px;

    background-color: #e1e1e1;

    padding: 20px;
    border-radius: 10px;
}

.form-section h2 {
    margin-bottom: 10px;
}

/* .form-section label, .form-section input {
    display: block;
} */

.form-group {
    display: flex;
    gap: 10px;
}

.form-group .input-group {
    width: 50%;
}

.item-card {
    background-color: #c4c3c3;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

fieldset {
    padding: 10px;
    margin-bottom: 10px;

    border: 1px solid #757575;
    border-radius: 5px;
}