#cv-page {
    background-color: #fff;
    border: 1px solid rgb(199, 199, 199);
    box-shadow: 5px 5px 2px grey;

    width: 770px;
    min-height: 120%;

    padding: 6rem 5rem;
    margin: 40px auto 40px auto;
}

#cv-page p{
    margin-bottom: 0.9rem;
}

.personal-section, .education-section, .experience-section {
    margin-bottom: 2rem;
}

.responsibilities-list > li {
    margin-bottom: 1.2rem;
}

.section-title, .education-section li, .experience-section > ul > li {
    margin-bottom: 1.5rem !important;
}

.personal-section {
    text-align: end;
}

.education-section ul, .experience-section ul {
    list-style-type: none;
    padding: 0;
}

.responsibilities-list {
    list-style-type: disc !important;
    padding-left: 40px !important;
}